.sidebar {
    min-width: 20.83%;
    max-width: 20.83%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 20px;
    &-header {
        margin-bottom: 15.5%;
        &__title {
            font-size: 30px;
            font-family: "Roboto" sans-serif;
            font-weight: bold;
        }
    }
    &-list {
        &__title {
            font-size: 18px;
            font-weight: 500;
        }
    }
}
