.chip {
    background-color: var(--chip-default-bg-color);
    padding: 8px 12px;
    border-radius: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}
