.list-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 15px;
    cursor: pointer;
    user-select: none;
    &.active {
        background: var(--active-icon-list-color);
    }
}
