@use "fonts.scss";
@use "varibles.scss";
@use "zerostyle.scss";

#app {
    display: flex;
    height: 97vh;
}
.body {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
